div.span6.indexCaption3
						p.
							<span style='font-size:18px;color:#43b04d'> Android Development</span> <br/>
							<span style='font-size:16px;font-weight:300'>
							The Android Market is one of the largest mobile platforms in the world. 
							Android demonstrates its diversity in the number of Origin Equipment 
							Manufacturers (OEMs) that support it and the number of updates it receives 
							within a short period. As a result, Android is now one of the leading platforms
							in the mobile market. What will Android app development add to your business? The 
							answer will depend on what you are looking for. For instance, it can be a game app,
							a social app, a business app, an mCommerce app or any other great idea that you may
							have in mind.
							</span>
						div.pageHeading
						p.
							<span style='font-size:18px;color:#43b04d'> IvyWire and Android</span> <br/>
							<span style='font-size:16px;font-weight:300'>
							Android is currently IvyWire's main mobile platform. We offer full service in the 
							variety of apps we support development for. If you have an interesting idea waiting 
							to enter market, contact us immediately!
							</span>