div.span6.indexCaption3
	p.
		<span style='font-size:18px;color:#43b04d'> BlackBerry Development</span> <br/>
		<span style='font-size:16px;font-weight:300'>
		One of the four major smartphone brands, the BlackBerry is famous for its extensive 
		use in business and political circles. President Obama was said to have been heavily 
		depended on his BlackBerry for communication. For many business men and women, a 
		BlackBerry business app will be a great asset to their Business needs and goals. 
		</span>
	div.pageHeading
	p.
		<span style='font-size:18px;color:#43b04d'> IvyWire and BlackBerry</span> <br/>
		<span style='font-size:16px;font-weight:300'>
		At the moment IvyWire does not support BlackBerry, however plans have been put 
		in motion to support this platform in the near-future.
		</span>