div.span6.indexCaption3
	div.pageHeading
	p.
		<span style='font-size:18px;color:#43b04d'> Our Designs</span> <br/>
		<span style='font-size:16px;font-weight:300'>
		Our professional web design team will take every effort to understand your business 
		and target market in order to suggest designs for maximum appeal. We believe in clean 
		and well-organized designs that are easy to browse and are search engine friendly. Our 
		talented graphic designers will first give you a preview design of how the website will 
		look before any coding is done. 
		</span>