div.slideout
	div.slidecontent
		h4 Get in touch now!
		p Interested in working with us? E-mail us now to get a quote/set up an appointment!
		br
		div
			form(action='/contact', name='contactus', id='contactus', method='post', class='contactus', onsubmit='return validateForm()')
				div#clientName
					label(for='name')
						<span style='font-size:20px; text-align:left; font-weight:300'>Name</span>
					input(name='name', type='text', value='', id='name', placeholder="FirstName LastName")
					
					div#alert-name.alert
						<span style='font-size:12px; text-align:left; font-weight:300';>Please enter your name</span>
				
				div#clientNumber
					label(for='phone')
						<span style='font-size:20px; font-weight:300'>Contact Phone Number</span>
					input(name="phone", type="text", value='', id='phone', placeholder="123-456-7890")

				div#clientEmail
					label(for='email')
						<span style='font-size:20px; font-weight:300'>Contact E-mail</span>
					input(name='email', type='text', value='', id='email', placeholder="yourid@domain.ca")

					div#alert-email.alert
						<span style='font-size:12px; text-align:left; font-weight:300';>Please enter your E-mail</span>

					
				div#clientPlans
					label(for='message')
						<span style='font-size:20px; font-weight:300'>Message</span>
					textarea(name='message', id='message', placeholder="Tell us about your plans!")
					
					div#alert-message.alert
						<span style='font-size:12px; text-align:left; font-weight:300'; color:#FF0000'>Please enter a message</span>

				div#clientSubmit
					input(type='submit', value='Send an Email!', class='a_demo_two')
	div.clickme
		center.
			Contact us!
		
div.footer3
	div.container
		div.row
			div.span4
				h1 Our Team
				p.
					IvyWire honors one thing above all else -- dedication. Our team is 
					comprised of talented individuals will put the utmost effort into 
					every part of your product. We will gladly listen to any concerns or ideas you may have 
					for us. We are looking forward to have a prosperous business
					relationship with each and one of you.
			div.span4
				h1 Contact Information
				p Email: 
					a(href='mailto:ivywireline@gmail.com') ivywireline@gmail.com
				p Skype (Primary): 
					a(href='http://myskype.info/ivywire-hr', target="_blank") ivywire-hr
				p Skype (Secondary): 
					a(href='http://myskype.info/ivywire', target="_blank") ivywire
				p oDesk:
					a(href='mailto:ivywireline@gmail.com')
					
			div.span4
				h1 Navigation
				p.
					
div.footer2
	div.footerRow
		center
			p.
				&#169; IvyWire Technical Solutions 2013

script(src='/js/jquery-1.9.1.js')
script(src='/js/jquery.html5-placeholder-shim.js')
script
	$(function () {
		$(".clickme").click(function () {
			if($(this).parent().css("left") == "-500px"){
			$(this).parent().animate({left:'0px'}, {queue: false, duration: 500});
		}else {
			$(this).parent().animate({left:'-500px'}, {queue: false, duration: 500});}
		});
	});
script

	function validateForm()
	{
		var name=document.forms['contactus']['name'].value;
		var phone=document.forms['contactus']['phone'].value;
		var email=document.forms['contactus']['email'].value;
		var message=document.forms['contactus']['message'].value;
		
		
		if (name==null || name=='' || name=='FirstName LastName')
		{
			document.getElementById('alert-name').style.display='block';
			return false;
		}
		else
			document.getElementById('alert-name').style.display='none';
		
		
		if(phone==null || phone=='' || phone=='123-456-7890' || isNaN(phone))
		{
			document.getElementById('alert-phone').style.display='block';
			return false;
		}
		else
			document.getElementById('alert-phone').style.display='none';
		
		
		if(email==null || email=='' || email=='yourid@domain.ca')
		{
			document.getElementById('alert-email').style.display='block';
			return false;
		}
		else
			document.getElementById('alert-email').style.display='none';
			
			
		if(message==null || message=='' || message=='Pull corner to lengthen')
		{
			document.getElementById('alert-message').style.display='block';
			return false;
		}
		else
			document.getElementById('alert-message').style.display='none';

	}