script(src='/js/jquery-1.9.1.js')
script(src='/js/jquery.html5-placeholder-shim.js')

footer
	p.pull-right
		a(href='#') Go to top
	p Copyright 2013 Ivywire 
		a(href='#') Privacy 
		a(href='#') Terms 