div.slideout
	div.slidecontent
		h4 Get in touch now!
		p Interested in working with us? E-mail us now to get a quote/set up an appointment!
		br
		div
			form(action='/contact', name='contactus', id='contactus', method='post', class='contactus')
				div#clientName
					label(for='name')
						<span style='font-size:20px; text-align:left; font-weight:300'>Name</span>
					input(name='name', type='text', value='', id='name', placeholder="FirstName LastName")
				div#clientNumber
					label(for='phone')
						<span style='font-size:20px; font-weight:300'>Contact Phone Number</span>
					input(name="phone", type="text", value='', id='phone', placeholder="123-456-7890")
				div#clientEmail
					label(for='email')
						<span style='font-size:20px; font-weight:300'>Contact E-mail</span>
					input(name='email', type='text', value='', id='email', placeholder="yourid@domain.ca")
				div#clientPlans
					label(for='message')
						<span style='font-size:20px; font-weight:300'>Contact E-mail</span>
					textarea(name='message', id='message', placeholder="Pull corner to lengthen")

				div#clientSubmit
					input(type='submit', value='Send')
	div.clickme
		center.
			Contact us!
		
div.footer3
	div.container
		div.row
			div.span4
				h1 Our Team
				p.
					We at IvyWire honor one thing above all else -- dedication. Our team will put their 
					utmost effort into every part of your product. 
			div.span4
				h1 Contact Information
				p.
					
			div.span4
				h1 Email Us
				p.
					
div.footer2
	div.footerRow
		center
			p.
				&#169; IvyWire Technical Solutions &#8226; Privacy Policy &#8226; Terms of Use

script(src='/js/jquery-1.9.1.js')
script(src='/js/jquery.html5-placeholder-shim.js')
script
	$(function () {
		$(".clickme").click(function () {
			if($(this).parent().css("left") == "-500px"){
			$(this).parent().animate({left:'0px'}, {queue: false, duration: 500});
		}else {
			$(this).parent().animate({left:'-500px'}, {queue: false, duration: 500});}
		});
	});
