div.slideout
	div.slidecontent
		h4 Get in touch now!
		p Interested in working with us? E-mail us now to get a quote/set up an appointment!
		br
		div
			form(action='/contact', name='contactus', id='contactus', method='post')
				div#clientName
					label(for='name')
						h4 Name
					input(name='name', type='text', value='', id='name', placeholder="FirstName LastName")
				div#clientNumber
					h4 Contact Phone Number
					input(type="text", name="phone", placeholder="123-456-7890")
				div#clientEmail
					h4 Contact E-mail
					input(name='email', type='text', value='', id='email', placeholder="yourid@domain.ca")
				div#clientPlans
					h4 Describe your plans/summarize your project
					textarea(name='message', id='message', placeholder="Pull corner to lengthen")

				div#clientSubmit
					input(type='submit', value='Send')
	div.clickme
		center Contact us!
script(src='/js/jquery-1.9.1.js')
script(src='/js/jquery.html5-placeholder-shim.js')
script
	$(function () {
		$(".clickme").click(function () {
			if($(this).parent().css("left") == "-500px"){
			$(this).parent().animate({left:'0px'}, {queue: false, duration: 500});
		}else {
			$(this).parent().animate({left:'-500px'}, {queue: false, duration: 500});}
		});
	});

footer
	p.pull-right
		a(href='#') Go to top
	p Copyright 2013 Ivywire 
		a(href='#') Privacy 
		a(href='#') Terms 