div.navbar2
	div.navbar-inner2
		div.container
			ul.nav3.pull-left#Logo
				li
					a(href='/') IvyWire Logo goes here
			ul.nav3.pull-right
				li#Home
					a(href='/') HOME
				li#Web
					a(href='/web_development') WEB
				li#Mobile
					a(href='/mobile_app_development') MOBILE APPS
				li 
					a(href='/plans') PROCESS
				li
					a(href='/contact') CONTACT US
		
		