div.navbar-fixed-top.navbar2
	div.navbar-inner
		div.container
			ul.nav.pull-right
				li#Home
					a(href='/') HOME
				li#Web
					a(href='/web_development') WEB
				li#Mobile
					a(href='/mobile_app_development') MOBILE APPS
				li 
					a(href='/plans') PROCESS
				li
					a(href='/contact') CONTACT US
		
		