div.navbar-fixed-top

	div.navbar-inner1
		ul.nav1
			li.left
				a(href='/', class="brand") IvyWire
			
			li.right
				a(href='/contact') CONTACT US
			li.right
				a(href='/plans') PROCESS
			li.right
				a(href='/mobile_app_development') MOBILE APPS
			li.right
				a(href='/web_development') WEB
			li.right
				a(href='/') HOME
	