div.navbar2
	div.navbar-inner2
		div.container
			ul.nav3.pull-left#Logo
				li
					a(href='/') <span style='font-size:18px;color:#43b04d;'>「IvyWire Technical Solutions」</span>
			ul.nav3.pull-right
				li#Home
					a(href='/') HOME
				li#Process 
					a(href='/plans') PROCESS
				li#Web
					a(href='/web_development') WEB
				li#Mobile
					a(href='/mobile_app_development') MOBILE APPS
				li#Contact
					a(href='/contact') CONTACT US
		
		