div.navbar-fixed-top
	div.navbar
		div.navbar-inner
			a(href='/', class="brand") IvyWire
			ul.nav
				li 
					a(href='/') HOME
				li 
					a(href='/web_development') WEB
				li 
					a(href='/mobile_app_development') MOBILE APPS
				li 
					a(href='/plans') PROCESS
				li 
					a(href='/contact') CONTACT US
		
		