div.navbar-fixed-top
	div.navbar
		div.navbar-inner
			a(href='#', class="brand") IvyWure
			ul.nav
				li 
					a(href='/') HOME
				li 
					a(href='/web_development') WEB
				li 
					a(href='/mobile_app_development') MOBILE APPS
				li 
					a(href='/plans') MAINTENANCE
				li 
					a(href='/contact') CONTACT US
		
		