div.span6.indexCaption3
	p.
		<span style='font-size:18px;color:#43b04d'> iOS Development</span> <br/>
		<span style='font-size:16px;font-weight:300'>
		Thanks to the popularity of the iPhone and iPad devices, the iOS platform 
		has been a very succesful investment point for app entrepeneurs and holds a 
		position as one of the strongest mobile platforms in the market. The platform 
		offers many extravagant opportunities, everything from entertainment applications 
		to business productivity apps. This is a great opportunity to attract more 
		customers, enhance the communication within your business and retain loyal 
		customers.		
		</span>
	div.pageHeading
	p.
		<span style='font-size:18px;color:#43b04d'> IvyWire and iOS</span> <br/>
		<span style='font-size:16px;font-weight:300'>
		At the moment IvyWire does not support iOS, however plans have been put 
		in motion to support this platform in the near-future.
		</span>