div.indexCaption3
	div.pageHeading
	div.row
		div.span5
			p <span style='font-size:25px;color:#43b04d'> Our Technologies</span> 
			ul
				li <span style='font-size:18px;font-weight:300;font-style:italic'> Frameworks</span>
					li <span style='padding-left:20px;font-size:18px;font-weight:300;'> Django </span>
					li <span style='padding-left:20px;font-size:18px;font-weight:300;'> JavaServer Faces</span>
				li <span style='font-size:18px;font-weight:300;font-style:italic'> Serverside</span>
					li <span style='padding-left:20px;font-size:18px;font-weight:300;'> Node.js</span>
					li <span style='padding-left:20px;font-size:18px;font-weight:300;'> PHP</span>
				li <span style='font-size:18px;font-weight:300;font-style:italic'> CMS </span>
					li <span style='padding-left:20px;font-size:18px;font-weight:300;'> Mezzanine </span>
					li <span style='padding-left:20px;font-size:18px;font-weight:300;'> Wordpress </span>
				li <span style='font-size:18px;font-weight:300;font-style:italic'> Frontend </span>
					li <span style='padding-left:20px;font-size:18px;font-weight:300;'> JavaScript (jQuery, Prototype, etc) </span>
					li <span style='padding-left:20px;font-size:18px;font-weight:300;'> HTML5, XML, AJAX</span>
					li <span style='padding-left:20px;font-size:18px;font-weight:300;'> CSS3, </span>
		div.span5
			p <span style='padding-left:10px;font-size:25px;color:#43b04d'> Our Support</span> 
			ul
				li <span style='font-size:18px;font-weight:300;'> Web Design </span>
				li <span style='font-size:18px;font-weight:300;'> UI Design </span>
				li <span style='font-size:18px;font-weight:300;'> ServerSide-Scripting</span>
				li <span style='font-size:18px;font-weight:300;'> Content Management</span>
				li <span style='font-size:18px;font-weight:300;'> Module Development</span>
				li <span style='font-size:18px;font-weight:300;'> Plugin Development</span>