div.span6.indexCaption3
	div.pageHeading
	p <span style='font-size:18px;color:#43b04d'> Our Technologies</span> 
		ul<span style='font-size:16px;font-weight:300'>
			li Django
			li PHP
			li Wordpress
			li
		</span>