div.span6.indexCaption3
	p.
		<span style='font-size:18px;color:#43b04d'> Windows Phone Development</span> <br/>
		<span style='font-size:16px;font-weight:300'>
		Traditionally, Windows is the leading force in the revolution of personal computers. 
		However, with the emergence of the mobile market, it is now also making headways in 
		the new niche with the releases of Windows Phones. The Windows platform offers tons 
		of exciting features such as game, travel and navigation, video, music and many others. 
		</span>
	div.pageHeading
	p.
		<span style='font-size:18px;color:#43b04d'> IvyWire and Windows Phone</span> <br/>
		<span style='font-size:16px;font-weight:300'>
		At the moment IvyWire does not support Windows Phone, however plans have been put 
		in motion to support this platform in the near-future.
		</span>