doctype html
html
	head
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')

	body
		include includes/header.jade
		
		div.pageHeading
		div.container.pagePage
			h2 Your message was sent ;)
			
			hr
			include includes/footer2