doctype html
html
	head
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/style2.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ubuntu:400,300,400italic,500,700,300italic')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Play')
	
	body
		include includes/header.jade
		div.indexHeading#mobileAppHead
			div.container
				h1.firstIndex Contact Us
				h1.indexHead2.zeroTop <span style='color:#43b04d;'> Riht </span>

		div.container
			center
				h1.indexHead3 Get in touch <span style='color:#43b04d;'>now!</span>

			div.row.topBody.center-div
				div.indexCaption
					center
						p.
							<span style='font-size:20px;color:#00BFFF'> Interested in working with us? E-mail us now to get a quote/set up an appointment! </span> <br/>

					div.pageHeading2
					center
						form(action='/contact', name='contactus', id='contactus', method='post', class='contactus')
							div#clientName
								label(for='name')
									<span style='font-size:20px; text-align:left; font-weight:300'>Name</span>
								input(name='name', type='text', value='', id='name', placeholder="FirstName LastName")
							div#clientNumber
								label(for='phone')
									<span style='font-size:20px; font-weight:300'>Contact Phone Number</span>
								input(name="phone", type="text", value='', id='phone', placeholder="123-456-7890")
							div#clientEmail
								label(for='email')
									<span style='font-size:20px; font-weight:300'>Contact E-mail</span>
								input(name='email', type='text', value='', id='email', placeholder="yourid@domain.ca")
							div#clientPlans
								label(for='message')
									<span style='font-size:20px; font-weight:300'>Contact E-mail</span>
								textarea(name='message', id='message', placeholder="Pull corner to lengthen")

							div#clientSubmit
								input(type='submit', value='Send an Email!', class='a_demo_two')
							

				
				div.webTabsLogos
			div.pageHeading
		include includes/footer.jade
	script(src='/js/bootstrap.min.js')
	script(src='/js/jquery-1.9.1.js')