doctype html
html
	head
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/style2.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ubuntu:400,300,400italic,500,700,300italic')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Play')
	
	body
		include includes/header.jade
		div.indexHeading#mobileAppHead
			div.container
				h1.firstIndex Contact Us
				h1.indexHead2.zeroTop <span style='color:#43b04d;'> Riht </span>

		div.container
			center
				h1.indexHead3 Get in touch <span style='color:#43b04d;'>now!</span>

			div.row.topBody.center-div
				div.indexCaption
					center
						p.
							<span style='font-size:20px;color:#00BFFF'> Interested in working with us? E-mail us now to get a quote/set up an appointment! </span> <br/>

					div.pageHeading2
					center
						form(action='/contact', name='contactus', id='contactus', method='post', class='contactus', onsubmit='return validateForm()')
							div#clientName
								label(for='name')
									<span style='font-size:20px; text-align:left; font-weight:300'>Name</span>
								input(name='name', type='text', value='', id='name', placeholder="FirstName LastName")
								
								div#alert-name.alert
									<span style='font-size:12px; text-align:left; font-weight:300';>Please enter your name</span>
							
							div#clientNumber
								label(for='phone')
									<span style='font-size:20px; font-weight:300'>Contact Phone Number</span>
								input(name="phone", type="text", value='', id='phone', placeholder="123-456-7890")

								div#alert-phone.alert
									<span style='font-size:12px; text-align:left; font-weight:300';>Please enter your phone number</span>

								
							div#clientEmail
								label(for='email')
									<span style='font-size:20px; font-weight:300'>Contact E-mail</span>
								input(name='email', type='text', value='', id='email', placeholder="yourid@domain.ca")

								div#alert-email.alert
									<span style='font-size:12px; text-align:left; font-weight:300';>Please enter your E-mail</span>

								
							div#clientPlans
								label(for='message')
									<span style='font-size:20px; font-weight:300'>Message</span>
								textarea(name='message', id='message', placeholder="Pull corner to lengthen")
								
								div#alert-message.alert
									<span style='font-size:12px; text-align:left; font-weight:300'; color:#FF0000'>Please enter a message</span>

							div#clientSubmit
								input(type='submit', value='Send an Email!', class='a_demo_two')
								
							

				
				div.webTabsLogos
			div.pageHeading
		include includes/footer2.jade
	script(src='/js/bootstrap.min.js')
	script(src='/js/jquery-1.9.1.js')
	
	script
		function validateForm()
		{
			var name=document.forms['contactus']['name'].value;
			var phone=document.forms['contactus']['phone'].value;
			var email=document.forms['contactus']['email'].value;
			var message=document.forms['contactus']['message'].value;
			
			
			if (name==null || name=='' || name=='FirstName LastName')
			{
				document.getElementById('alert-name').style.display='block';
				return false;
			}
			else
				document.getElementById('alert-name').style.display='none';
			
			
			if(phone==null || phone=='' || phone=='123-456-7890' || isNaN(phone))
			{
				document.getElementById('alert-phone').style.display='block';
				return false;
			}
			else
				document.getElementById('alert-phone').style.display='none';
			
			
			if(email==null || email=='' || email=='yourid@domain.ca')
			{
				document.getElementById('alert-email').style.display='block';
				return false;
			}
			else
				document.getElementById('alert-email').style.display='none';
				
				
			if(message==null || message=='' || message=='Pull corner to lengthen')
			{
				document.getElementById('alert-message').style.display='block';
				return false;
			}
			else
				document.getElementById('alert-message').style.display='none';
	
		}