html
	head
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')

	body
		include includes/header.jade
		
		div.pageHeading
		div.container.pagePage
			div.page-header
				h1 Get in touch now!
			p Interested in working with us? E-mail us now to get a quote/set up an appointment!
			br
			div
				form(name="clientForm", action="mailto:ivywireline@gmail.com", method="post", enctype="text/plain")
					div#clientName
						label(for='name')
							h4 Name
						input(type="text", name="clientName", placeholder="FirstName LastName")
					div#clientNumber
						h4 Contact Phone Number
						input(type="text", name="clientNumber", placeholder="123-456-7890")
					div#clientEmail
						h4 Contact E-mail
						input(type="text", name="clientEmail", placeholder="yourid@domain.ca")
					div#clientPlans
						h4 Describe your plans/summarize your project
						textarea(name="clientPlans", form="clientForm",
							placeholder="Pull corner to lengthen")
					
					div#clientSubmit
						input(type="submit")
			hr
			include includes/footer
	script(src='/js/bootstrap.min.js')