doctype html
html
	head
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body.mainheight
		include includes/header.jade
		
		<!-- Carousel starts -->
		
		div#myCarousel.carousel.slide
			div.carousel-inner
				div.item.active
					img(src='/images/slide1.jpg')
					div.container
						div.carousel-caption
							h1 Example
							p.lead AAAAAAaA
				div.item
					img(src='/images/slide2.jpg')
					div.container
						div.carousel-caption
							h1 Example
							p.lead AAAAAAaA
				div.item
					img(src='/images/slide03.jpg')
					div.container
						div.carousel-caption
							h1 Example
							p.lead AAAAAAaA
			a(href='#myCarousel', data-slide='prev', class='left carousel-control')
			a(href='#myCarousel', data-slide='next', class='right carousel-control') 
			
		<!-- /.carousel -->	
	
	
		div.container.marketing
			div.row
				div.span4
					h2 Our Process
					p.
						Be it websites or apps, we have ourselvers a clear-cut process we follow in order to give you the 
						best service possible and ensure that you leave with the product you desired. This three-step 
						process has been a blahblahblahblahblahblahblah
					p. 
						a(href='#', class='btn') Read more
				div.span4						
					h2 Website Development
					p.
						We believe in aiming for nothing short of the best when designing and developing your website. 
						We will provide you with a talented team that will work closely with you to provide you a 
						comfortable experience while still keeping you well-informed every step of the way.
					p. 
						a(href='/web_development/', class='btn') Read more
				div.span4
					h2 Mobile App Development
					p.
						aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
					p. 
						a(href='#', class='btn') Read more
			
			
			
	script(src='http://code.jquery.com/jquery-latest.min.js')    
	script(src='/js/bootstrap.min.js')
	script(src='/js/ie-bootstrap-carousel.min.js')
	
	script
		!function ($) {
			$(function(){
				// carousel demo
			$('#myCarousel').carousel()
			})
			}(window.jQuery)