doctype html
html
	head
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/js/jquery-1.9.1.js')
	body.mainPage
		include includes/header.jade
		
		<!-- Carousel starts -->
		
		div#myCarousel.carousel.slide
			div.carousel-inner
				div.item.active
					img(src='/images/slide1.jpg')
					div.container
						div.carousel-caption
							h1 Heading to attract attention
							h1.
								<small> <span style='font-size: 23px;'> Although small, the ivy plant is mighty and strong, 
								thriving where you least expect it. 
								IvyWire is a student-run initiative that aims to satisfy clients with what we know best: 
								cracking deals and solving all of your computer-related needs. We represent the generation 
								of tech-savvy, yet financially-impaired individuals tired of watching people get ripped off for services 
								that we can do ourselves (for cheaper). Thus with no money and too much time on our hands, we will offer you 
								both our services and our souls to make sure that the job is done and done well. </span></small>
				div.item
					img(src='/images/slide2.jpg')
					div.container
						div.carousel-caption
							h1 Example
							p.lead AAAAAAaA
				div.item
					img(src='/images/slide03.jpg')
					div.container
						div.carousel-caption
							h1 Example
							p.lead AAAAAAaA
			a(href='#myCarousel', data-slide='prev', class='left carousel-control')
			a(href='#myCarousel', data-slide='next', class='right carousel-control') 
			
		<!-- /.carousel -->	
	
	
		div.container.marketing.pagePage
			div.row
				div.span4
					img(src='/images/head3.png')
					h2 Our Process
					p.
						Be it websites or apps, we have ourselvers a clear-cut process we follow in order to give you the 
						best service possible and ensure that you leave with the product you desired. This three-step 
						process has been a blahblahblahblahblahblahblah
					a(href='/plans/', class='btn') Read more
				div.span4
					img(src='/images/head2.png')				
					h2 Website Development
					p.
						We believe in aiming for nothing short of the best when designing and developing your website. 
						We will provide you with a talented team that will work closely with you to provide you a 
						comfortable experience while still keeping you well-informed every step of the way.
					a(href='/web_development/', class='btn') Read more
				div.span4
					img(src='/images/head1.png')
					h2 Mobile App Development
					p.
						Smartphones and tablets have integrated themselves to an important part of people's everyday 
						lives. The mobile marketplace blahblah
					a(href='mobile_app_development', class='btn') Read more 
			hr		
			include includes/footer 
	script(src='/js/bootstrap.min.js')
	script(src='/js/ie-bootstrap-carousel.min.js')
	
	script
		!function ($) {
			$(function(){
				// carousel demo
			$('#myCarousel').carousel()
			})
			}(window.jQuery)