doctype html
html
	head
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/style2.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ubuntu:400,300,400italic,500,700,300italic')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Play')

		
	body.mainPage
		include includes/header.jade
		
		div.fluidHeight
			div.sliderContainer
				div.iosSlider
					div.slider
						div.item.item1
							div.inner
								div.text1 <span>Touch Me.</span>
								div.text2 <span>Something Else</span>
						div.item.item2
							div.inner
								div.text1 <span>aaaaaaaaaaaaaaaaaaaaa</span>
								div.text2 <span>Sasdasd</span>
						div.item.item3
							div.inner
								div.text1 <span>Touch Me.</span>
								div.text2 <span>Something Else</span>

					div.slideSelectors
						div.item.selected
						div.item
						div.item
						
		div.container.marketing
			div.pageHeading4
			div.row.indexCaption
				h1 <span style='font-size:23px;color:#43b04d;font-weight:400;'>Who are we? </span>
				p.
					We are a technical solution firm that specializes in software engineering.  We firmly believe in collaboration, 
					innovation and excellence. We strive to provide the best possible service to our clients. We provide services 
					such as web deveopment, mobile app development and web maintenance. 
			div.row
				div.indexCaption2.indexBoxSet
					center
						img(src='/images/head3.png')
						h2 <span style='font-size:27px;color:#43b04d'> Our Process </span>
					div.increaseSpacing
						p.
							Be it websites or apps, we have ourselvers a clear-cut process we follow in order to give you the 
							best service possible and ensure that you leave with the full product you desired.
					center
						a(href='/plans/', class='btn') Click Here
				div.indexCaption2.indexBoxSet
					center
						img(src='/images/head2.png')				
						h2 <span style='font-size:27px;color:#43b04d'> Website Development </span>
					div.increaseSpacing
						p.
							We're happy to provide you with a talented team that will work closely with you to provide you a 
							comfortable experience while still keeping you well-informed every step of the way.
					center
						a(href='/web_development/', class='btn') Click Here
				div.indexCaption2.indexBoxSet
					center
						img(src='/images/head1.png')
						h2 <span style='font-size:27px;color:#43b04d'> Mobile Apps </span>
					div.increaseSpacing
						p.
							The mobile marketplace is an excellent oppurtunity for modern investors. If you have an idea, send us an 
							email. We can help you to make your idea into a reality and a mobile app market hit.
					center
						a(href='mobile_app_development', class='btn') Click Here
		include includes/footer
	
	script(src='/js/jquery-1.9.1.js')
	script(src='/js/bootstrap.min.js')
	script(src='/js/jquery.easing-1.3.js')
	script(src='/js/jquery.iosslider.min.js')
	script
		function slideChange(args) {
			$('.sliderContainer .slideSelectors .item').removeClass('selected');
			$('.sliderContainer .slideSelectors .item:eq(' + (args.currentSlideNumber - 1) + ')').addClass('selected');
		}

		function slideComplete(args) {
			if(!args.slideChanged) return false;

			$(args.sliderObject).find('.text1, .text2').attr('style', '');

			$(args.currentSlideObject).find('.text1').animate({
				right: '100px',
				opacity: '0.8'
			}, 400, 'easeOutQuint');

			$(args.currentSlideObject).find('.text2').delay(200).animate({
				right: '70px',
				opacity: '0.8'
			}, 400, 'easeOutQuint');
		}

		function sliderLoaded(args) {
			$(args.sliderObject).find('.text1, .text2').attr('style', '');

			$(args.currentSlideObject).find('.text1').animate({
				right: '100px',
				opacity: '0.8'
			}, 400, 'easeOutQuint');

			$(args.currentSlideObject).find('.text2').delay(200).animate({
				right: '70px',
				opacity: '0.8'
			}, 400, 'easeOutQuint');
			slideChange(args);
		}
		
		$(document).ready(function() {
			$('.iosSlider').iosSlider({
				desktopClickDrag: true,
				snapToChildren: true,
				navSlideSelector: '.sliderContainer .slideSelectors .item',
				onSlideComplete: slideComplete,
				onSliderLoaded: sliderLoaded,
				onSlideChange: slideChange,
				scrollbar: false,
				autoSlide: true,
				autoSlideTimer: 3300,
				infiniteSlider: true
			});
		});