doctype html
html
	head
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/style2.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Bitter:400italic,400')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ubuntu')
	
	body
		include includes/header.jade
		
		center
				div.indexHeading#mobileAppHead
					div.container.paddingHead
						img(src='/images/weblogo2.png')
						h1 Mobile Apps
		div.container
			center
				h1.indexHead2 Catch Phrase <span style='color:#FF4000;'>Here</span>
			div.row.topBody
				div.span6.indexCaption3
					p.
						<span style='font-size:20px;color:#FF4000'> Everyone else is doing it -- why aren't you?</span> <br/>
						<span style='font-weight:300'>
						blah blah blah blah blah blahblah blah blahblah blah blahblah blah blahblah blah blahblah blah blah
						blah blah blahblah blah blahblah blah blahblah blah blahblah blah blahblah blah blahblah blah blah
						blah blah blahblah blah blahblah blah blahblah blah blahblah blah blahblah blah blahblah blah blah
						</span>
					ul
						li <span style='font-size:13px;color:#FF4000'>&#x25BA;</span> <span style='font-size:18px;font-weight:bold'> blah</span>
						li <span style='font-size:13px;color:#FF4000'>&#x25BA;</span> <span style='font-size:18px;font-weight:bold'> blah </span>
						li <span style='font-size:13px;color:#FF4000'>&#x25BA;</span> <span style='font-size:18px;font-weight:bold'> blah</span>
						li <span style='font-size:13px;color:#FF4000'>&#x25BA;</span> <span style='font-size:18px;font-weight:bold'> blah</span>
			center
				h1.indexHead2.zeroTop Catch Phrase <span style='color:#FF4000;'>Here</span>
		include includes/footer 
	script(src='/js/bootstrap.min.js')
	script(src='/js/jquery-1.9.1.js')