html
	head
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	
	link(rel='stylesheet', href='/stylesheets/style.css')
	body
		include includes/header.jade
		div.pageHeading
		div.container
			div.page-header
				h1 Mobile App Development <small> You can be a digimon too. </small>
			div.tabbable
				ul.nav.nav-tabs
					li.active 
						a(href='#tab1', data-toggle='tab') Android
					li 
						a(href='#tab2', data-toggle='tab') iOS
					li 
						a(href='#tab3', data-toggle='tab') Windows
					li 
						a(href='#tab4', data-toggle='tab') BlackBerry
			div.tab-content
				div.tab-pane.active#tab1
					h1 <small> One market, many oppurtunities</small>
					p. 
						
					
				div.tab-pane#tab2
					p Currently, we do not provide support for iOS apps. Future support is in the works.
				div.tab-pane#tab3
					p Currently, we do not provide support for Windows apps. Future support is in the works.
				div.tab-pane#tab4
					p Currently, we do not provide support for BlackBerry apps. Future support is in the works.
	script(src='http://code.jquery.com/jquery-latest.min.js')    
	script(src='/js/bootstrap.min.js')