doctype html
html
	head
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/style2.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ubuntu:400,300,400italic,500,700,300italic')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Play')
	
	body
		include includes/header.jade
		
		div.indexHeading#mobileAppHead
			div.container
				h1.firstIndex Our Process
				h1.indexHead2.zeroTop <span style='color:#43b04d;'> Riht </span>
		div.container
			center
				h1.indexHead3 Catch Phrase <span style='color:#43b04d;'>Here</span>
			div.pageHeading
			center
			div.row.indexCaption.margin3
				center
					p.
						<span style='font-size:27px;color:#43b04d'> The Process </span> <br/>
				p.
					<span style='font-size:18px;font-weight:300'>
					At IvyWire, we have a simple three-step system that you may all be familiar with: 
					ctrl, alt, delete. We work as the task manager to your frozen or unresponsive ideas and fix 
					them for you. 
					</span>
			div.pageHeading3
			div.row
				div.span5.indexCaption3.pull-left
					p.
						<span style='font-size:27px;color:#43b04d'><span class='muted'> Step One:</span> Control </span>  <br/>
						<span style='font-size:18px;font-weight:300'>
						This is the annoying part where you meet with us, have a consultation, get a quote; all that 
						formal junk that is necessary to make sure that the dog you wanted in the beginning doesn't turn 
						into an expensive dragon at the end.
						</span>
			div.pageHeading3
			div.row
				div.span5.indexCaption3.pull-left.margin2
					p.
						<span style='font-size:27px;color:#43b04d'><span class='muted'> Step Two:</span> Alter</span> <br/>
						<span style='font-size:18px;font-weight:300'>
						Once a plan is established, we begin alterations to ensure that the end result is both accurate, 
						cost-efficient, and visually appealing. Basically, we are the fairy godmothers, working to make 
						all of your dreams come true.
						</span>
			div.pageHeading3
			div.row
				div.span5.indexCaption3.pull-left
					p.
						<span style='font-size:30px;color:#43b04d'><span class='muted'> Step Three:</span> Delete </span> <br/>
						<span style='font-size:18px;font-weight:300'>
						With any major project, there is always a potential for bugs to surface. Whether it's a bug in the 
						code, a little typo, or an actual bug on the computer screen, we make sure we clean up after ourselves 
						so you don't have to.
						</span>
			
			div.pageHeading
		include includes/footer
		
	script(src='http://code.jquery.com/jquery-latest.min.js')    
	script(src='/js/bootstrap.min.js')