html
	head
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	
	body
		include includes/header.jade
		div.pageHeading
		div.container.pagePage.pagePage2 
			div.page-header
				center
					h1 Our Process
					h1.
						<small> At IvyWire, we have a simple three-step system that you may all be familiar with: 
						ctrl, alt, delete. We work as the task manager to your frozen or unresponsive ideas and fix 
						them for you. </small>

			div.featurette
				img(src='/images/bullet1-big.png', class='featurette-image pull-right')
				h2.featurette-heading Step One: <span class='muted'> Control </span>
				p.lead.
					This is the annoying part where you meet with us, have a consultation, get a quote; all that 
					formal junk that is necessary to make sure that the dog you wanted in the beginning doesn't turn 
					into an expensive dragon at the end.
			hr.featurette-divider
			div.featurette
				img(src='/images/bullet2-big.png', class='featurette-image pull-left')
				h2.featurette-heading Step Two: <span class='muted'> Alter </span>
				p.lead.
					Once a plan is establish, we begin alterations to ensure that the end result is both accurate, 
					cost-efficient, and visually appealing. Basically, we are the fairy godmothers, working to make 
					all of your dreams come true.
			hr.featurette-divider
			div.featurette
				img(src='/images/bullet3-big.png', class='featurette-image pull-right')
				h2.featurette-heading Step Three: <span class='muted'> Delete </span>
				p.lead.
					With any major project, there is always a potential for bugs to surface. Whether it's a bug in the 
					code, a little typo, or an actual bug on the computer screen, we make sure we clean up after ourselves 
					so you don't have to.
			hr
			include includes/footer
	script(src='http://code.jquery.com/jquery-latest.min.js')    
	script(src='/js/bootstrap.min.js')