html
	head
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	
	body
		include includes/header.jade
		div.pageHeading
		div.container.pagePage
			div.page-header
				center
					h1 Our Processs
			div.featurette
				img(src='/images/bullet1-big.png', class='featurette-image pull-right')
				h2.featurette-heading.
					<span class='muted'> Digitalization </span> is the future.
				p.lead.
					In this day and age, the Internet is the new media king. Nowadays, every business needs a website 
					in order to take full advantage of this. Having a website can bring you boundless advertising 
					oppurtunities, easy-access information storage and a change for market expansion.

			hr.featurette-divider
			div.featurette
				img(src='/images/bullet2-big.png', class='featurette-image pull-left')
				h2.featurette-heading <span class='muted'> Designs </span> that just work.
				p.lead.
					Our professional web design team will take every effort to understand your business and 
					target market in order to suggest designs for maximum appeal. Ultimately our designs will 
					distinguish your business from competitors, be visually appealing and have you leaving 
					satisfied with the result.
			hr.featurette-divider
			div.featurette
				img(src='/images/bullet3-big.png', class='featurette-image pull-right')
				h2.featurette-heading <span class='muted'> Development </span> you can depend on.
				p.lead.
					The IvyWire web design team will work with our clients until they are fully satisfied. 
			hr
			include includes/footer
	script(src='http://code.jquery.com/jquery-latest.min.js')    
	script(src='/js/bootstrap.min.js')