html
	head
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	
	body
		include includes/header.jade
		div.pageHeading
		div.container.pagePage.pagePage2 
			div.page-header
				center
					h1 Our Process
					h1.
						<small> At IvyWire, we have a simple three-step system that you may all be familiar with: 
						ctrl, alt, delete. We work as the task manager to your frozen or unresponsive ideas and fix 
						them for you. </small>

			div.featurette
				img(src='/images/bullet1-big.png', class='featurette-image pull-right')
				h2.featurette-heading Heading <span class='muted'> One </span>
				p.lead.
					aaaaaaaaa
			hr.featurette-divider
			div.featurette
				img(src='/images/bullet2-big.png', class='featurette-image pull-left')
				h2.featurette-heading Heading <span class='muted'> Two </span>
				p.lead.
					aaaaaaaaa
			hr.featurette-divider
			div.featurette
				img(src='/images/bullet3-big.png', class='featurette-image pull-right')
				h2.featurette-heading Heading <span class='muted'> Three </span>
				p.lead.
					aaaaaaaaa
			hr
			include includes/footer
	script(src='http://code.jquery.com/jquery-latest.min.js')    
	script(src='/js/bootstrap.min.js')