html
	head
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	
	body
		include includes/header.jade
		div.container
			hr.featurette-divider
			div.row
				center
					h1 Our Process
		
			div.featurette
				h2.featurette-heading Heading <span class='muted'> One </span>
				p.lead.
					aaaaaaaaa
			hr.featurette-divider
			div.featurette
				h2.featurette-heading Heading <span class='muted'> Two </span>
				p.lead.
					aaaaaaaaa
			hr.featurette-divider
			div.featurette
				h2.featurette-heading Heading <span class='muted'> Three </span>
				p.lead.
					aaaaaaaaa
					
				
	script(src='http://code.jquery.com/jquery-latest.min.js')    
	script(src='/js/bootstrap.min.js')