doctype html
html
	head
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/style2.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Bitter:400italic,400')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ubuntu:400,300,400italic,500,700,300italic')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Play')

	body.mainPage
		include includes/header.jade
		div
			div.indexHeading#webDevHead
				div.container
					div.span4
						h1.firstIndex.oneTop Web Services
						h1.indexHead2.zeroTop <span style='color:#43b04d;'> Designs that just work </span>
					img.bannerPic(src='/images/banner2.png')
			div.container
				center
					h1.indexHead3.zeroTop Websites done <span style='color:#43b04d;'> right </span>
				div.row.topBody
					div.span6.indexCaption3
						p.
							<span style='font-size:20px;color:#43b04d'> Why do I need a website? </span> <br/>
							<span style='font-weight:300'>
							In this day and age, the Internet is the new media king. In order to take full advantage of this 
							businesses are looking for websites that can clearly advertise their products while providing 
							customers with a convenient communication platform to use. We know this and we take many steps 
							to ensure that your website can do just that. 
							</span>
					div.span4.indexCaption3.whiteBox
						p <span style='font-size:20px;color:#43b04d'> Choose us if you want a site that is: </span>
						ul
							li <span style='font-size:13px;color:#43b04d'>&#x25BA;</span> Efficient
							li <span style='font-size:13px;color:#43b04d'>&#x25BA;</span> Economical
							li <span style='font-size:13px;color:#43b04d'>&#x25BA;</span> Marketable
							li <span style='font-size:13px;color:#43b04d'>&#x25BA;</span> Graphically Appealing
							li <span style='font-size:13px;color:#43b04d'>&#x25BA;</span> Worth the money you put in
				div.pageHeading
				center
					h1.indexHead3 <span style='font-size:30px;'>Development you can depend on.<span style='color:#43b04d;'> </span></span>
				div.pageHeading
				
				div.webTabs
					center
						button#nav-toggle1.nav-toggle(href='#collapse1')
							p#web1(style='font-size:17px;color:green;') DESIGNS
						button#nav-toggle2.nav-toggle(href='#collapse2')
							p#web2(style='font-size:17px;') 
						button#nav-toggle3.nav-toggle(href='#collapse3')
							p#web3(style='font-size:17px;') OUR TECHNOLOGIES
					
					#collapse1.collapse
						include includes/designs.jade
					#collapse2.collapse(style='display: none;')
					#collapse3.collapse(style='display: none;')
						include includes/technology.jade
						
			div.pageHeading	
		include includes/footer.jade
	script(src='/js/bootstrap.min.js')
	script(src='/js/jquery-1.9.1.js')
	script
		$(document).ready(function() {
			$('#nav-toggle1').click(function(){
			
				$('#collapse1').slideDown('fast');
				$('#collapse2').hide();
				$('#collapse3').hide();
				
				$('#web1').css('color', 'green')
				$('#web2').css('color', 'black')
				$('#web3').css('color', 'black')
			});
			
			$('#nav-toggle2').click(function(){
				$('#collapse2').slideDown('fast');
				$('#collapse1').hide();
				$('#collapse3').hide();
				
				$('#web1').css('color', 'black')
				$('#web2').css('color', 'green')
				$('#web3').css('color', 'black')
				
			});
			
			$('#nav-toggle3').click(function(){
				$('#collapse3').slideDown('fast');
				$('#collapse1').hide();
				$('#collapse2').hide();
				
				$('#web1').css('color', 'black')
				$('#web2').css('color', 'black')
				$('#web3').css('color', 'green')
				
			});
			
			$('#nav-toggle4').click(function(){
				$('#collapse4').slideDown('fast');
				$('#collapse1').hide();
				$('#collapse2').hide();
				$('#collapse3').hide();
				
				$('#Android1').css('color', 'black')
				$('#iOS1').css('color', 'black')
				$('#Windows1').css('color', 'black')
				$('#Blackberry1').css('color', 'green')
			});
		});
	