doctype html
html
	head
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/style2.css')
		
	body.back3
		include includes/header.jade
		
		div.pageHeading
		div.container.pageHead2
			h1 Web Services
			
		div.container.pagePage.pagePage2
			div.gray
				
			div
				h2.muted.webFont Every business needs a website.
				div.span8
					p In this day and age, the Internet is the new media king. Just about everybusiness out there is taking advantage of this. Why aren't you? Having a website brings you:
						ul
							li Boundless advertising oppurtunities
							li A convenient communication platform
							li Easy-access information storage
							li Market expansion
			hr
			div
				h2.muted.webFont  Designs that just work.
				div.span8
					p Our professional web design team will take every effort to understand your business and target market in order to suggest designs for maximum appeal. 
						We believe in lean and well-organized designs that are easy to navigate. Ultimately, our designs will:
						ul
							li Distinguish your business from your competitors
							li Provide your customers convenience in browsing
							li Be visually appealing
			hr
			div
				h2.muted Development you can depend on.
				div.span8
					p The IvyWire web design team will work with our clients until they are fully satisfied. We will:
						ul
							li Be up-to-date with the most current and advanced software technology
							li Deliver products on time and according to the contract
							li Respond to any concerns from our clients
			hr
			include includes/footer.jade
	script(src='/js/bootstrap.min.js')
	