html
	head
	script(src='http://code.jquery.com/jquery-latest.min.js')    
	script(src='bootstrap/js/bootstrap.min.js')

	link(rel='stylesheet', href='/stylesheets/style.css')
	
	div#wrap
		div
			include includes/header.jade
			
			body
				div.container3
					div.webHeading
						div#firstWebHeading
							p#websPage Web Work
					div.webBody
						div#sectionOne
							p.heading2#websPage Every business needs a website.
							p.description2.
								In this day and age, the Internet is the new media king. Just about every
								business out there is taking advantage of this. Why aren't you? Having a 
								website brings you:
							ul.description2list
								li Boundless advertising oppurtunities
								li A convenient communication platform
								li Easy-access information storage
								li Market expansion
					div.webBody
						div#sectionOne
							p.heading2#websPage Designs that just work.
							p.description2.
								Our professional web design team will take every effort to understand your 
								business and target market in order to suggest designs for maximum appeal. 
								We believe in lean and well-organized designs that are easy to navigate. 
								Ultimately, our designs will:
							ul.description2list
								li Distinguish your business from your competitors
								li Provide your customers convenience in browsing
								li Be visually appealing
							
					div.webBody
						div#sectionOne
							p.heading2#websPage Development you can depend on.
							p.description2.
								The IvyWire web design team will work with our clients until they are 
								fully satisfied. We will:
							ul.description2list
								li Be up-to-date with the most current and advanced software technology
								li Deliver products on time and according to the contract
								li Respond to any concerns from our clients
								
				div.emptySpace
					<br>
					<br>
include includes/footer