.back1{
	background-image:url('/images/web.png');
}

.back2{
	background-image:url('/images/web2.png');
}

.back3{
	background-image:url('/images/web02.png');
	background-size: 100% 100%;
}

.gray {
	background-color:#F2F2F2;
}

.gray2{
	background-color:#FAFAFA;
}

.style2{ 
	letter-spacing:1px; 
	line-height:150%; 
	font-size: 17px;
}

.pageHead2 {
	color:#FFFFFF;
	text-shadow: #000000 0.1em 0.1em 0.2em;
}

.pageHead2 h1 {
	font-size:50px;
	margin-bottom:30px;
}

.marginOverwrite{
	margin-top:0px;
}
.headArea {
	padding-top:10px;
	padding-left:20px;

}

.headArea h1{ 
	font-size:20px;
}

.headCaption {
	letter-spacing:1px;
	line-height: 150%;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

.headCaption p {
	font-size: 20px;
}

.topContent{
	margin-top:0px;
	padding-top:0px;
}
.paddingZero{
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
}

.webFont {
	color: #0B610B; 
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.navbar-inner {
    background-color: #151515;
    background-image: none;
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.067);
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
	padding-top:10px;
	padding-bottom:10px;
}

.navbar2 .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}
.navbar2 .nav.pull-right {
  float: right;
  margin-right: 30px;
}
.navbar2 .nav > li {
  float: left;
  padding-left:3px;
  padding-right:3px;
}
.navbar2 .nav > li > a {
  float: none;
  padding: 10px 15px 10px;
  color: #FAFAFA;
  font-size:14px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight:bold;
}

.navbar2 .nav > li > a:focus,
.navbar2 .nav > li > a:hover {
  color: #333333;
  text-decoration: none;
}

.indexHead {
	font-family: 'Ubuntu', sans-serif;
	font-size: 60px;
	margin-top:100px;
	margin-bottom:60px;
	
}

.indexHead2 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 53px;
	margin-top:100px;
	margin-bottom:100px;
}

.indexCaption{
	margin:30px;
	margin-left:100px;
	margin-right:100px;
	/*background-color:#F2F2F2;*/
	padding:30px;
	line-height:2em;
	/*box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.4);*/
	font-family: 'Ubuntu', sans-serif;
	/*font-style:italic;*/
}

.zeroBottom {
	margin-bottom:30px;
	padding-bottom:0px;
}
.indexCaption p {
	font-size:16px;
	letter-spacing:1px;
}

.indexCaption h1 {
	font-size:22px;
	color: #585858;
	margin-top:0px;
	margin-bottom:0px;
	padding-top:0px;
	padding-bottom:0px;
}
.indexCaption2{
	margin-top:60px;
	/*background-color:#F2F2F2;*/
	font-family: 'Ubuntu', sans-serif;
	/*box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.4);*/
	padding-bottom:20px;
	padding-top:15px;
	margin-bottom:60px;
}
.whiteBox{
	margin-left:120px;
	margin-right:10px;
	/*box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.4);*/
	/*background-color:#F2F2F2;*/
	padding-right:0px;
}
.indexCaption2 p{
	padding: 30px;
	line-height:1.5em;
	font-size:15px;
	font-family: 'Ubuntu', sans-serif;
	letter-spacing:1px;
}

.indexCaption3  p{
	font-family: 'Ubuntu', sans-serif;
	font-size:18px;
	letter-spacing:1px;
	line-height:1.8em;
	padding-right:0px;
}

.indexCaption3 ul{
	font-family: 'Ubuntu', sans-serif;
	font-size:18px;
	letter-spacing:1px;
	line-height:1.8em;
	margin-top:10px;
	padding-right:0px;
}

.indexCaption3 {
	margin-top:0px;
	padding:10px;
	padding-right:0px;
}
.indexCaption3 li{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left:30px;
	list-style-type: none;
	padding-right:0px;
	font-size:15px;
	padding-top:0px;
	padding-bottom:10px;
}
.footer2 {
	background-color: #151515;
	color: #FAFAFA;
	padding-left: 0px;
	font-family: 'Bitter', serif;
	margin-bottom:0px;
}
.footer2 h1{
	color: #FFFFFF;
	font-size: 18px;
	font-style:italic;
	font-weight:bold;
}

.paddingleftzero{
	padding-left: 0px;
}

.footer2 p{
	font-size:16px;
	color: #BDBDBD;
	line-height:1.5em;
}

.footer3 {
	background-color: #1C1C1C;
	color: #FAFAFA;
	padding-top:20px;
	font-family: 'Bitter', serif;
	margin-bottom:0px;
}

.footer3 h1{
    color: #FFFFFF;
	font-size: 18px;
	font-style:italic;
	font-weight:bold;
}

.footerRow {
	font-family: 'Ubuntu', sans-serif;
	padding-top:10px;
	padding-bottom:1px;
}
.indexHeading {
	background: #363739 url('/images/container-bg.jpg') repeat 50% 0;
	color: #FAFAFA;
	padding-top:50px;
	padding-bottom:0px;
	margin-top:10px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 53px;
	box-shadow: inset 0 3px 20px -4px #000, inset 0 -3px 20px -4px #000;
}


.indexHeading h1 {
	font-size: 51px;
	float:left;
	margin-top:50px;
	text-shadow: #1C1C1C 0.1em 0.1em 0.2em;
}

.imageShadow{
	-webkit-box-shadow: 2px 2px 14px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    2px 2px 14px rgba(50, 50, 50, 0.75);
	box-shadow:         2px 2px 14px rgba(50, 50, 50, 0.75);
}
.indexHeading img{
	float:left;
	margin-left:250px;
}

.paddingHead{
	padding-left:30px;
	padding-right:30px;
}

.topBody{
	margin-top:100px;
}

.zeroTop{
	margin-top:100px;
	margin-bottom:0px;
	margin-right:100px;
}

.secondTop {
	font-size:40px;
	color: #848484;
	margin-bottom:50px;
	margin-top:25px;
	padding-left:150px;
}

#indexBox{
	height:600px;
	width:100%;
	background-color:#F2F2F2;
}
.webTabs{
	
}

.webTabsLogos{


}

/* iosslider*/

.fluidHeight {
	position: absolute;
	width: 100%;
	height: 600px;
	padding: 3% 0 2% 0;
	margin-top: 35px;
	background: #363739 url('/images/container-bg.jpg') repeat 50% 0;
	box-shadow: inset 0 3px 20px -4px #000, inset 0 -3px 20px -4px #000;
}

.sliderContainer {
	height: 100%;
	max-height: 700px;
	padding: 0 0;
}

.iosSlider {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 650px;
}

.iosSlider .slider { width: 100%; height: 100%; }

.iosSlider .slider .item { width: 100%; height: 100%; padding: 5px 0 5px 0; }

.iosSlider .slider .item .inner {
	position: relative;
	top: 0;
	left: 0;
	width: 1024px;
	margin: 0 auto;
	height: 100%;
	box-shadow: 0 0 10px -5px #000;
	background-position: 50% 0;
	background-repeat: no-repeat;
}

.iosSlider .slider .item .inner .text1 {
	background: none repeat scroll 0 0 #000;
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  right: 150px;
  top: 30px;
  padding: 5px 2px 0 7px;
}

.iosSlider .slider .item .inner .text1 span { color: #fff; font: 55px/70px Norican; padding: 0 8px; }

.iosSlider .slider .item .inner .text2 {
	background: none repeat scroll 0 0 #000;
  opacity: 0;
  filter: alpha(opacity=0);
  padding: 5px 7px 7px;
  position: absolute;
  right: 0;
  top: 100px;
}

.iosSlider .slider .item .inner .text2 span { color: #fff; font: 16px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; }

.iosSlider .slider .item1 .inner { background-image: url('/images/h-slider-1.jpg'); }

.iosSlider .slider .item2 .inner { background-image: url('/images/h-slider-2.jpg'); }

.iosSlider .slider .item3 .inner { background-image: url('/images/h-slider-3.jpg'); }

.sliderContainer .slideSelectors {
	position: relative;
	bottom: 20px;
	left: 0;
	width: 92%;
	margin: 0 4%;
	z-index: 1;
	height: 10px;
	margin-left:600px;
}

.sliderContainer .slideSelectors .item {
	float: left;
	width: 9px;
	height: 9px;
	border: 1px solid #000;
	background: #999;
	margin: 0 0 0 10px;
	opacity: 0.25;
	filter: alpha(opacity=25);
}

.sliderContainer .slideSelectors .selected {
	background: #000;
	opacity: 1;
	filter: alpha(opacity=100);
}


@media screen and (max-width: 1105px) {
	.iosSlider .slider .item .inner { width: 92%;	margin: 0 4%; background-position: 80% 0; }
	
	.sliderContainer .slideSelectors {	width: 92%;	margin: 0 4%; }
	
}

@media screen and (max-width: 768px) {
	.iosSlider .slider .item .inner .text1 span { font: 40px/50px Norican; }
	
	.iosSlider .slider .item .inner .text2 { top: 85px; }
	
	.iosSlider .slider .item .inner .text2 span { font: 12px/18px "Helvetica Neue",Helvetica,Arial,sans-serif; }
}

/* Slider ends*/

.pageHeading4{
	margin-top:750px;

}