body {
  padding-top: 50px;
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  background-image:url('/images/green-pattern-bg.png');
  background-repeat:repeat-x;
}
.darkgrey{
	height:50px;
	background-image:url(/images/fading-hr.png);
	background-size:100% 100%;
	background-color:#31aee4;
}
a {
  color: #00B7FF;
  padding:15px;
}
#wrap{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}
.container1{
	padding-top:5px;
	position:relative;
	text-align:left;
}

#nav2{
	font-size: 35px;
	padding: 5px;
	color: white;
	font-weight: bold;
	
}
.container1 li{
	text-decoration:none;
	margin:10px;
	float: none;
	display: table-cell;
	text-align:center;
	padding:10px;
	font-size:20px;
}

#navBarOption{
	text-align:left;
	padding-bottom:10px;
	font-family: 'Noto Sans', sans-serif;
	font-size:12px;
	font-weight:bold;
	letter-spacing: 1px;
}

.container1 li a:hover{
	background:url('../images/nav-hover-right.png') no-repeat center right;
	background-size:100% 100%;
	text-decoration:none;
}
.navbar .nav1{
position: relative;
width: 100%;
display: table;
float: left;
margin: 10px 10px 0 0;
font-size: 22px;
font-family: Trebuchet MS, sans-serif;
}
.navbar .nav1 > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
color: #111111;
text-decoration: none;
background-color: #ebebeb;
-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
.navbar .nav1 > li > a {
float: none;
padding: 10px 15px 10px;
color: #e5e5e5;
text-decoration: none;
text-shadow: 0 1px 0 #ffffff;
}
.app{
	margin-top:10px;
	margin-bottom:10px;
	height:auto;
}
.apptitle{
	position:relative;
	float:left;
	width:100%;
}
.appinfo-desc{
	position:relative;
	float:left;
	width:280px;
	padding:10px;
}
.appinfo-pic{
	position:relative;
	float:left;
	width:620px;
	padding:10px;
	
}
.appinfo-pic img{
	width:100%;
}
.apptitle-small{
	width:280px;
	float:left;
	padding:20px 10px 20px 10px;
}
.apptitle1{
	position:relative;
	float:right;
	width:100%;
}
.appinfo-desc1{
	position:relative;
	float:right;
	width:280px;
	padding:10px;
}
.appinfo-pic1{
	position:relative;
	float:right;
	width:620px;
	padding:10px;	
}
.apptitle-small1{
	width:280px;
	float:right;
	padding:20px 10px 20px 10px;
}
.appinfo-pic1 img{
	width:100%;
}
#footer{
	margin-top:100px;
}
a:hover{
	background-image:('/images/sppechbubble.png');
}
.slideout{
	background: #fafafa;
	position: absolute;
	width: 500px;
	height: 550px;
	top: 19%;
	left:-500px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
.clickme{
	background: #fafafa;
    position: absolute;
    top: 225px; right: -48px;
    height: 15px;
    width: 100px;
	padding:15px;
	margin-right:-40px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	border: 1px solid #d4d4d4;
	/* Safari */
	-webkit-transform: rotate(-90deg);

	/* Firefox */
	-moz-transform: rotate(-90deg);

	/* IE */
	-ms-transform: rotate(-90deg);

	/* Opera */
	-o-transform: rotate(-90deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}
.slidecontent{
	padding:20px;
	border: 1px solid #d4d4d4;
	background-color: #fafafa;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.container-footer{
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 52px;
	padding-left:100px;
	padding-right:100px;
	padding-top:10px;
	margin-top: 40px;
	background-color: black;
}
.container-footer p{
	color:white;
}